---
import { SITE } from '../consts';
import { url } from '../utils/url';
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <span>© {year} {SITE.author}</span>
  <span>
    <a href={url('/rss.xml')}>RSS</a>
    &nbsp;·&nbsp;
    <a href={SITE.github}>GitHub</a>
  </span>
</footer>
